@media screen
	and (min-width: 1200px){
	
	.k8em0{
		width: 600px;
		height: 600px;
		background:url(DVYyZPvX0AAo-dU.jpg) 0px 0px;
	}
}

@media screen
	and (max-width: 1200px)
	and (min-width: 900px){
	
	.k8em0{
		width: 600px;
		height: 600px;
		background:url(DVYyZPvX0AAo-dU.jpg) -600px 0px;
	}
}

@media screen
	and (max-width: 900px)
	and (min-width: 600px){
	
	.k8em0{
		width: 600px;
		height: 600px;
		background:url(DVYyZPvX0AAo-dU.jpg) 0px -600px;
	}
}

@media screen
	and (max-width: 600px){
	
	.k8em0{
		width: 600px;
		height: 600px;
		background:url(DVYyZPvX0AAo-dU.jpg) -600px -600px;
	}
}